%h4 
  <%= alertHeader %>
%p 
  <%= alertMessage %>
  %span.pull-right
    %a.confirm-delete.btn.btn-danger{:href => "#", "data-dismiss" => "modal"} DELETE
    %a.btn.btn-default{:href => "#", "data-dismiss" => "modal"} CANCEL