.panel.panel-default
  .panel-heading
    .row
      .col-md-10
        .form-group
          <input required class="form-control" type="text" placeholder="Chef Name" name="chef.name" value="<%= chef.name %>" />

        .form-group
          <input class="form-control" type="email" placeholder="Chef Email" name="chef.email" value="<%= chef.email %>" />

        .form-group
          <input class="form-control" type="text" placeholder="Chef Facebook" name="chef.facebook" value="<%= chef.facebook %>" />

      .col-md-2
        .form-group
          %button(type="button" class="close cancel" aria-hidden="true" tabindex="-1") &times;

  .panel-body
    :plain
      <% _.each(menus, function(menu, index){ %>
    = haml :menu
    :plain
      <% }); %>
    .row
      .col-md-12
        %a.add-menu.btn.btn-xs.pull-right
          %i.icon.icon-plus

    .row
      .col-md-5
        .checkbox.no-mt
          %label.control-label
          <input type="hidden" name="lunch_suggestion.free_shipping" value="false"/>
          <input type="checkbox" name="lunch_suggestion.free_shipping"/>
          Free shipping

      .col-md-7
        .row
          .col-md-5.no-pr.righted
            %label.control-label Orders before:
          .col-md-7
            .input-group
              <input required class="form-control spinner" type="number" min="9" max="13" step="1" placeholder="11" name="lunch_suggestion.orders_before" value="<%= orders_before %>"/>
              %span.input-sm.input-group-addon
                <%= orders_before > 11 ? 'pm' : 'am' %>

  .panel-footer
    .row
      .col-md-12
        %label.control-label Suggested by

    .row
      .col-md-12.form-group
        .input-group-sm
          <input required class="form-control" type="text" placeholder="User Name" name="user.fullname" value="<%= chef.user.fullname %>"/>

    .row
      .col-md-12.form-group
        .input-group-sm
          <input required class="form-control" type="email" placeholder="User@Email" name="user.email" value="<%= chef.user.email %>"/>

    .row
      .col-md-12.form-group
        <% if (isNew) { %>
        <button type="submit" class="btn btn-primary btn-sm btn-block" data-loading-text="CREATING SUGGESTION...">
        SUGGEST
        <% } else { %>
        <button type="submit" class="btn btn-primary btn-sm btn-block" data-loading-text="UPDATING SUGGESTION...">
        UPDATE
        <% } %>
        </button>
