.row.menu
  .col-md-8.form-group
    :plain
      <textarea required class="form-control" placeholder="Menu" name="menus[<%= index %>].menu">
      <%= menu.menu %>
      </textarea>

  .col-md-4.form-group
    .input-group
      :plain
        <input required class="form-control" type="text" maxlength=5 pattern="^[\d\. ]+$" placeholder="00.0" name="menus[<%= index %>].price" value="<%= menu.price %>"/>
      %span.input-sm.input-group-addon $
    
    <% if (index > 0) { %>
    %a#del-menu.btn.btn-xs.pull-right
      %i.icon.icon-minus
    <% } %>
    