.alert.alert-info
  %button(type="button" class="close" data-dismiss="alert") &times;
  %strong Tip: 
  Puedes actualizar los menus actuales de tu chef mediante en el icono de edici&oacute;n
  %i.icon-edit
  sin necesidad de crear nuevamente el chef.