#subheader { 
  margin-top: 100px;
  margin-bottom: 20px;
}

.table tbody > tr > td {
  border-top: none;
  padding: 0;
}

.paperclip {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 22px;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}

.loading { text-align: center }

header {
  background-image: url("/images/blackboard.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Shadows Into Light Two', cursive;
}

.header {
  float: left;
  padding: 15px 15px 5px 15px;
  font-size: 1.7em;
  line-height: 20px;
  color: #fff;
  text-shadow: #fff 0 0 1em;
}

.navbar-header p {
  font-size: 1.3em;
  margin-left: 40px;
  color: #fff;
  text-shadow: #ccc 0 0 1em;
  letter-spacing: 2px;
}

.navbar {
  text-align: center;
  min-height: 80px;
  color: white;
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.15);*/
  /*background-color: #C43F3F; /*#5E7B89; /*#42494F*/
  /*box-shadow: 0 1px 0 rgba(255,255,255,.1);*/
}

.btn-primary,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active {
  background-color: #C55A5A;
  border-color: #C55A5A;
}

.label {
  letter-spacing: 1px;
}

.label-today {
  background-color: #7CAC57;
}

.label-older {
  background-color: #999;
}

.label-yesterday {
  background-color: #C47272; /*#837C8F;*/
}

.btn-primary:hover {
  background-color: #C43F3F; /*#BB1F1F;*/
  border-color: #C43F3F;
}

.navbar-inverse {
  border-bottom: 1px solid #D1D1D1;
  /*box-shadow: 0 5px 0 #A3A0A0;*/
  box-shadow: 0 8px 6px -6px black;
}

.navbar-inverse .navbar-brand { 
  color: #C7C7CC;
}

.navbar .time {
  font-size: 1.2em;
  margin-top: 30px;
}

#timer {
  font-family: 'Lato';
  font-size: .6em;
}

.row #add-menu { margin-bottom: 5px }

.navbar .time .icon-time { 
  display: inline-block;
  float: left;
  font-size: 1.5em;
  margin-top: 5px;
  margin-right: 10px;
}

.form-group { margin-bottom: 5px }

.righted { text-align: right }
.no-mt { margin-top: 0 }
.no-mr { margin-right: 0 }
.no-pr { padding-right: 0 }
.control-label { font-weight: normal }

.board, .modal-body, .modal-body h4, footer { 
  font-family: 'PT Sans Narrow', sans-serif;
}

footer {
  color: #999;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.modal-body, .modal-body h4 {
  font-size: 1.2em;
}

.panel {
  border-radius: 0;
  border-top: none;
  /*border-right-color: rgb(203, 204, 186);*/
  /*border-left-color:  rgb(203, 204, 186);*/
  -webkit-box-shadow: 0 2px 3px 0 #AAAB9D;
          box-shadow: 0 2px 3px 0 #AAAB9D;
}

.panel-default {
  border: none;
}

.panel a {
  text-decoration: none;
  color: #5E7B89;
}

.panel a:hover {
  text-decoration: none;
  color: rgb(9, 110, 158);
}

.panel-heading {
  font-family: 'Bad Script', cursive;
  background-color: #F5F5F5;
  border-radius: 0;
  font-size: 1.5em;
}

.contact {
  font-size: .9em;
}

.close.delete, .close.edit {
  font-size: .7em;
}

.panel-body {
  background-color: #F5F5F5;
  border-radius: 0;
  /*font-size: 1.2em;*/
}

.panel-footer {
  background-color: #F5F5F5;
}

.price { font-size: 1.2em }

.lunch {
  /*font-family: 'Oxygen', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  color: rgb(63, 63, 63);
  font-size: 1.1em;
}

ul.list-unstyled {
  color: rgb(128, 123, 123);
}

*:focus {outline: none;}

input:required:focus:valid, textarea:required:focus:valid {
  background: #fff;
  box-shadow: 0 0 5px rgb(118, 255, 118);
  border-color: rgb(133, 172, 133);
}

input:required:focus:invalid, textarea:required:focus:invalid {
  background: #fff;
  box-shadow: 0 0 5px rgb(245, 130, 130);
  border-color: rgb(206, 151, 151);
}
